<!DOCTYPE html>
<html>
	<head>

		<title>Gabriel and Sandra baby's name choice!</title>

		<meta charset="UTF-8">
 
		<!-- LOAD CSS  AND FONTS-->
		<link  href="app/vendors/bootstrap/dist/css/bootstrap.min.css"  rel="stylesheet"/>
		<link  href="app/vendors/bootstrap/dist/css/bootstrap-theme.min.css"  rel="stylesheet"/>
	</head>
	<body ng-app="babyApp" >

		<header class="container" >
			<div id="Header">
				<p> Hi! Help me and my wife to list some baby boy name! </p>
				<p> We'll have a baby boy in March 2016, and we want your help to get some nice names.</p>

			</div>	
			<div class="row">
				<div id="container" style="height: 300px"></div>
			</div>
		</header>
		<section id="Baby-Name-Content" class="container">
			<div id="content" ng-view>

			</div>
		</section>
		<footer>
			
		</footer>
		<!-- LOAD JAVASCRIPT -->
		<script src="app/vendors/angular/angular.min.js" ></script>
		<script src="app/vendors/angular-route/angular-route.js" ></script>
		<script src="app/vendors/jquery/dist/jquery.min.js" ></script>
		<script src="app/vendors/bootstrap/dist/js/bootstrap.min.js" ></script>
		<script src="app/components/home/homeController.js"></script>
		<script src="app/components/home/homeFactory.js"></script>
		<script src="app/route.js"></script>
		<script src="app/module.js"></script>
		<!-- CHART -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="http://code.highcharts.com/highcharts.js"></script>

		<!-- Modal -->
		<div class="modal fade" id="NewName" tabindex="-1" role="dialog" aria-labelledby="baby's name form">
		  <div class="modal-dialog" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h5 class="modal-title" id="myModalLabel">Add a new Baby name</h5>
		      </div>
		      <div class="modal-body">
		        <div class="form-group">
			        <labe for="babyName">Baby Name</labe>
			        <input id="babyName" ng-model="baby.name" type="text" class="form-control" required>
		        </div>
		         <div class="form-group">
			        <labe for="userCreator">Your Name</labe>
			        <input id="userCreator" ng-model="baby.creator" type="text" class="form-control" required>
		        </div>
		        <div class="form-group">
			        <labe for="email">Email</labe>
			        <input id="email" ng-model="baby.email" type="email" class="form-control" >
		        </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		        <button type="button" class="btn btn-primary">Add Name!!</button>
		      </div>
		    </div>
		  </div>
		</div>

	</body>
<html>